<%- include("partials/header") -%>
<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">
        <label>Date</label>
        <input type="text" name="Date" class="form-control" id="Date" required>
        <label>Topic</label>
        <input type="text" name="Topic" class="form-control" id="Topic" required>
        <label>Attendees</label>
        <input type="text" name="Attendees" class="form-control" id="Attendees" placeholder="use , to seperate names">
        <label>Decision's made</label>
        <input type="text" name="Decision" class="form-control" id="Decision">
        <label>Task for next week</label>
        <input type="text" name="nweek" class="form-control" id="nweek">
        <label>Next meeting</label>
        <input type="text" name="meet" class="form-control" id="meet">
        <label>Extra notes:</label>
        <textarea class="form-control" name= "post" id="Post" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer") -%>